@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Variables */

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);/*(main background)*/
    
    --Dark-desaturated-blue: hsl(244, 38%, 16%);/*(card background)*/

    --Soft-violet: hsl(277, 64%, 61%);/*(accent)*/

    --White: hsl(0, 0%, 100%);/*(main heading, stats)*/
    
    --Slightly-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);/*(main paragraph)*/
    
    --Slightly-transparent-white-stats-heading: hsla(0, 0%, 100%, 0.6);/*(stat headings)*/
    
}

/* Using flex to center the content */

body {
    background-color: var(--Very-dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout */
.layout {
    display: flex;
    /* width: max-content; */
    /* align-items: center; */
    /* border-radius: 16px; */
}

.layout>* {
    flex-basis: 100%; /* used flex basis instead of giving layout any width or height so that both container will share same size */
}

/* Advertiement information section */

.advertisement-info-section {
    padding: 4.725rem 6.527rem 4.527rem 3.725rem;
    max-width: 34.725rem;
    background-color: var(--Dark-desaturated-blue);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.175rem;
    margin-bottom: 1.995rem;
    color: var(--White);
    /* word-spacing: 4px; */
}

.description {
    color: var(--Slightly-transparent-white-main-para);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.875rem;
    line-height: 22px;
    padding-right: 3.275rem;
    margin-bottom: 4.213rem;
}

.stats-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.stats-info>:nth-child(1) {
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.275rem;
}

.stats-info>:nth-child(2) {
    color: var(--Slightly-transparent-white-stats-heading);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.855rem;
}

    /* IMAGE SECTION */

/* .image-section{
background-color: var(--Soft-violet);
max-width: 34.725rem;
border-top-right-radius: 16px; border-bottom-right-radius: 16px;
} */

.image-section img {
    /* max-width: 34.725rem; */
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 16px; border-bottom-right-radius: 16px;
    opacity: 0.4;
}

.image-section{
    background-color: var(--Soft-violet);
    border-top-right-radius: 16px; border-bottom-right-radius: 16px;
}


/* MEDIA QUERY */

@media only screen and (max-width:375px) {

    .layout {
        display: grid;
        margin: 4.75rem 1.627rem;
        text-align: center
    }

    .advertisement-info-section {
        grid-row: 2;
        padding: 2.125rem 3.227rem;
        border-radius: 0px 0px 10px 10px;

    }

    .heading {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 1.475rem;
        margin-bottom: 1.195rem;
        color: var(--White);
        /* word-spacing: 4px; */
    }

    .description {
        color: var(--Slightly-transparent-white-main-para);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.775rem;
        line-height: 22px;
        padding-right: 0;
        margin-bottom: 1.875rem;
    }

    .stats-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: max-content;
        margin: 0 auto;
    }

    .stats-info>:nth-child(1) {
        font-size: 1.175rem;
    }

    .stats-info>:nth-child(2) {
        font-size: 0.755rem;
    }


    .stats-info:nth-child(-n+2) {
        margin-bottom: 1.228rem;
    }

    .image-section img {
        /* max-width: 34.725rem; */
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    
    .image-section{
        background-color: var(--Soft-violet);
        border-radius: 10px 10px 0px 0px;
    }
    
}